        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        /* Estilo da parte superior */
        .header {
            width: 100%;
            background-color: #ecd6e0;
            color: white;
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header .instagram {
            margin-left: 20px;
        }
        .header .cadastrar {
            margin-right: 20px;
            color: black;
            background-color: #FFFFFF;
            border-radius: 10px;
        }
        .round-button {
            width: 120px; /* Largura do botão */
            height: 60px; /* Altura do botão, igual à largura */
            border-radius: 90%; /* Faz o botão ser circular */
            background-color: #ffffff; /* Cor de fundo */
            color: black; /* Cor do texto */
            border: none; /* Remove a borda padrão */
            font-size: 16px; /* Tamanho do texto */
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        /* Estilo da parte central */
        .content {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin-top: 20px;
        }
        /* Planilha de contatos */
        .contacts {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .contacts .contact-item {
            width: 150px;
            height: 150px;
            background-color: #ecd6e0;
            border: 1px solid #ddd;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            line-height: 1.2; /* Ajuste para reduzir o espaço entre linhas */
        }
        .contacts img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 10px;
        }
        .search-bar {
            width: 30%;
            display: flex;
            flex-direction: column;
            color: black;
            background-color: #ecd6e0;
        }
        .search-bar input[type="text"] {
            color: black;
            width: 100%;
            padding: 10px;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
            border: 1px solid #ddd;
        }
