        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        /* Estilo da parte superior */
        .header {
            width: 100%;
            background-color: #ecd6e0;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header .instagram {
            margin-left: 10%;
        }
        .header .cadastrar {
            margin-right: 10%;
            color: black;
            background-color: #FFFFFF;
            border-radius: 10%;
        }
        .round-button {
            width: 100%; /* Largura do botão */
            height: 80%; /* Altura do botão, igual à largura */
            border-radius: 90%; /* Faz o botão ser circular */
            background-color: #ffffff; /* Cor de fundo */
            color: black; /* Cor do texto */
            border: none; /* Remove a borda padrão */
            font-size: 90%; /* Tamanho do texto */
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        /* Estilo da parte central */
        .content {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin-top: 2%;
        }
        /* Planilha de contatos */
        .contacts {
            width: 65%;
            display: flex;
            flex-wrap: wrap;
            gap: 5%;
        }
        .contacts .contact-item {
            width: 17%;
            height: 50%;
            background-color: #ecd6e0;
            border: 5% solid #ddd;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2%;
            text-align: center;
            border-radius: 5%;
            line-height: 110%; /* Ajuste para reduzir o espaço entre linhas */
        }
        .contacts img {
            width: 50%;
            height: 30%;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 10%;
        }
        .search-bar {
            width: 30%;
            display: flex;
            flex-direction: column;
            color: black;
            background-color: #ecd6e0;
        }
        .search-bar input[type="text"] {
            color: black;
            width: 99%;
            padding: 3%;
            font-size: 100%;
            font-weight: bold;
            margin-bottom: 10%;
            border: 5% solid #ddd;
        }
